[flake8]
exclude =
    .git,
    __pycache__,
    .tox,
    .eggs,
    *.egg,
    data_generation/
    data/
    *.m
    mavlink_utils/
    *__init__.py
    analysis/
    runs/HC_eilat_July_2018/analysis/
    scripts/load_results.py
    scripts/unify_results.py
